# Archivos de compilacion
*.o
*.exe
*.out

# Archivos temporales
*.tmp
*.temp

# Archivos de configuraciĆ³n del editor
*.swp
*.swo
*.DS_Store
*.vscode/
*.idea/

# Archivos de dependencias y configuraciones
/build/
/bin/
/obj/
/main.dSYM

# Ignorar todo el contenido del directorio output
output/main.exe
output/*.dat

# Archivos
*.dat
*.exe
